body {
    margin: 0;
    background: #000A0F;
    font-family: Arial, sans-serif;
}


.navbar {
    width: 100%;
    height: 80px;
    background: #00111A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

/* .icon {
    width: 26px;
    height: 26px;
    background: #0D1D25;
    border-radius: 4px;
} */


.search input {
    width: 400px;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    font-size: 14px;
    background: #0D1D25;
    color: white;
}

.search input::placeholder {
    color: #B0B0B0;
}


.orders {
    background: #750310;
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.orders-icon {
    font-size: 18px;
}


.logout-btn {
    font-size: 22px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
.img{
    width: 1120;
height: 260;
top: 268px;
left: 124px;
opacity: 1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.swiper {
  width: 1000px;
  height: 400px;
  margin-top: 100px;
}


section h2{
    color: white;
}



.swiper-slide{
    margin: 0px 40px;
}


.product-card {
    width: 250px;
    background: #0b171d;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    color: #fff;
    text-align: left;
    position: relative;
    left: -160px;
}


.product-card .fav-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.img-box {
    width: 100%;
    height: 150px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
    background: #111; 
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin: 6px 0;
}

.desc {
    opacity: 0.6;
    font-size: 14px;
    margin-bottom: 15px;
}

.price {
    font-size: 24px;
    color: #4fe3b5;
    margin-bottom: 15px;
}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.qty-btn {
    background: transparent;
    border: none;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.qty {
    font-size: 18px;
    width: 30px;
    text-align: center;
}

.add-btn {
    margin-left: auto;
    background: #a30018;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
.img2{
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
.modal{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 150px;
}
.image-box img {
max-width: 480px;
}


.info h1 {
font-size: 2.5rem;
margin-bottom: 15px;
}


.info p {
font-size: 1.2rem;
color: #d0d0d0;
margin-bottom: 20px;
}
.tags {
display: flex;
flex-wrap: wrap;
gap: 10px;
margin-bottom: 25px;
}


.tag {
background: #1f2630;
padding: 8px 14px;
border-radius: 8px;
font-size: 0.9rem;
cursor: default;
}
.quantity {
display: flex;
align-items: center;
gap: 20px;
margin-bottom: 25px;
}


.quantity button {
background: none;
border: 2px solid #fff;
color: #fff;
font-size: 1.5rem;
width: 35px;
height: 35px;
border-radius: 8px;
cursor: pointer;
}


.quantity .number {
font-size: 1.4rem;
}
.add {
background: #b81d24;
border: none;
padding: 12px 30px;
font-size: 1rem;
color: #fff;
border-radius: 10px;
cursor: pointer;
transition: 0.2s;
}


.add:hover {
background: #d42028;
}

.modal_menu{
    display: flex;
    
}
.number{
    color: white;
}
